<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Injector" verbose="1" >
    <test name="UnitTests">
        <packages>
            <package name="test.com.communalizer.inject" />
            <package name="test.com.communalizer.inject.kernel" />
            <package name="test.com.communalizer.inject.kernel.dependencies" />
        </packages>
    </test>
</suite>
